.loginPage {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: flex-start;
    gap: 40px; 
    padding: 20px;
}

#createAccount,
#login {
    align-self: flex-start;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    padding: 2em;
    max-width: 500px;
    margin: auto;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
    color: #fff;
}

#login {
    margin-top: 0px;
}

#createAccount label,
#login label {
    display: flex;
    padding-top: 20px;
}
#createAccount input,
#login input {
    display: flex;
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
}
